<aside>
	<div id="sidebar" class="nav-collapse">
		<!-- sidebar menu start-->
		<div class="leftside-navigation">
			<ul class="sidebar-menu" id="nav-accordion">
				<li>
					<a class="active" href="/Admin/Dasboard/Index/">
						<i class="fa fa-dashboard"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="sub-menu">
					<a href="javascript:;">
						<i class="fa fa-book"></i>
						<span>Categories</span>
					</a>
					<ul class="sub">
						<li><a href="/Admin/MarkaSport/MarkaSportIndex/">Marka Sport</a></li>
						<li><a href="/Admin/MarkaStyle/MarkaStyleIndex/">Marka Style</a></li>
						<li><a href="/Admin/MarkaClassic/MarkaClassicIndex/">Marka Classic</a></li>
						<li><a href="/Admin/MarkaDiscount/MarkaDiscountIndex/">Marka Discount</a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="javascript:;">
						<i class="fa fa-product-hunt"></i>
						<span>Shoes</span>
					</a>
					<ul class="sub">
						<li><a href="/Admin/ShoeSport/ShoeSportIndex/">Sport Shoes</a></li>
						<li><a href="/Admin/ShoeStyle/ShoeStyleIndex/">Style Shoes</a></li>
						<li><a href="/Admin/ShoeClassic/ShoeClassicIndex/">Classic Shoes</a></li>
						<li><a href="/Admin/ShoeDiscount/ShoeDiscountIndex/">Discount Shoes</a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="javascript:;">
						<i class="fa fa-check-circle"></i>
						<span>xususiyetler</span>
					</a>
					<ul class="sub">
						<li><a href="#">Color</a></li>
						<li><a href="#">Currency</a></li>
						<li><a href="#">Size</a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="javascript:;">
						<i class="fa fa-plus"></i>
						<span>Others</span>
					</a>
					<ul class="sub">
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Reklam</a></li>
						<li><a href="#">Social Media</a></li>
					</ul>
				</li>
				<li>
					<a href="index.html">
						<i class="fa fa-envelope"></i>
						<span>Messages</span>
					</a>
				</li>
				<li>
					<a href="index.html">
						<i class="fa fa-get-pocket"></i>
						<span>Get Site</span>
					</a>
				</li>
				<li>
					<a href="index.html">
						<i class="fa fa-key"></i>
						<span>Log Out</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- sidebar menu end-->
	</div>
</aside>
