@model IEnumerable<DTO.DTOEntity.MarkaStyleDTO>

<div class="content-left-top-brands">
    <h3>Categories</h3>
    @foreach (var item in Model)
    {
        <ul>
            <li><a href="/Style/GetMarkaStyle/@item.ID/">@item.ShoeName</a></li>
        </ul>
    }
</div>
