<div class="header-bottom">
	<div class="wrap">
		<!-- Navbar -->
		<ul class="megamenu skyblue">
			<li class="grid">
				<a class="color2" href="/Discount/Index/">Home</a>
			</li>
			<li class="grid">
				<a class="color2">Shoes</a>
				<div class="megapanel">
					<div class="row">
						@await Component.InvokeAsync("SportZoneList")
						@await Component.InvokeAsync("StyleZoneList")
						@await Component.InvokeAsync("ClassicZoneList")
					</div>
				</div>
			</li>
			<li class="grid">
				<a class="color2" href="/About/Index/">About</a>
			</li>
			<li class="grid">
				<a class="color2" href="/Contact/MessageAdd/">Contact</a>
			</li>
		</ul>
	</div>
</div>
